* {
    box-sizing: border-box;
    margin: 0 auto;
}
.wrap {
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/* ================= Header icon block ===================== */

header {
    padding: 107px 0 40px 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    color: #000000;
}

.icons--line {
    width: 64px;
    height: 2px;
    margin: 30px auto;
    border: none;
    background: #ff7f50;
}

h4 {
    font-size: 14px;
    font-weight: 400;
    color: #808080;
}

/* ============= Cards ================== */

.cards {
    padding: 40px 0 107px;
    font-size: 0;
}

.card {
    display: inline-block;
    width: 350px;
    margin: 0 16px;
}

.icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid #ff7f50;
    border-radius: 50%;
}

h2 {
    margin: 29px auto;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: #808080;
}

/* =========== Block city ================*/

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    border: none;
    color: #ffffff;
}

.city--line {
    width: 64px;
    height: 2px;
    margin: 30px auto;
    border: none;
    background: #ffffff;
}

.city--head {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 16px;
}

.city--btn {
    width: 145px;
    height: 42px;
    background-color: transparent;
    outline-style: none;
    font-size: 15px;
    border: 2px solid #ffffff;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 63px;
}

.city--btn--txt { 
    color: #ffffff;
}

/*================= Footer block ============ */

.facebook--logo {
    width: 15px;
    height: 23px;
    margin: 38px 10px 7px auto;
}

.twitter--logo,
.google--logo,
.pinterest--logo,
.instagram--logo,
.stumbleupon--logo,
.rss--logo {
    width: 30px;
    height: 30px;
    margin: 38px 10px 7px auto;
}

.network {
    width: 317px;
    height: 23px;
    display: inline-block;
}

.align {
    vertical-align:sub;
    font-size: 12px;
    margin: 0 auto 15px auto;
}

footer {
    height: 101px;
    background-color: #000000;
}

/*================= Images ====================== */

.icon--lamp {
    background: url(../img/lamp.png) no-repeat center center;
}

.icon--keyboard {
    background: url(../img/keyboard.png) no-repeat center center;
}

.icon--lightning {
    background: url(../img/lightning.png) no-repeat center center;
}

.city {
    background: url(../img/city.png) no-repeat center center;
    background-size: cover;    
}
